*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #212121;
    transition: all 0.4s ease-out;
}
.button_classroom{
    margin: 0px 0px 45px 0px;
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    color: rgb(211, 209, 209);
    flex-direction: column;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 12px;
    letter-spacing: 0.05em;
    font-weight: 540;
}
.button_classroom::before{
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 128px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #c81cff 0%, #40c9ff 100%);
    z-index: -1;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.button_classroom::after{
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}
.button_classroom:hover::after{
    filter: blur(30px);
}
.button_classroom:hover::before{
    transform: rotate(-180deg);
}
.button_classroom:active::before{
    scale: 0.7;
}
.side_Bar{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
}
.side_Bar > button{
    font-size: 16px;
}
.side_Bar .side_Nav{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #212121;
}
.side_Bar .side_Nav .item{
    display: flex;
    align-items: center;
    gap: 0px;
    /* TODO: */
    padding: 0px;
    border-radius: 0px;
    cursor: pointer;
}
ul{
    list-style: none;
}
.nav_Button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.nav_Button .icon_Content{
    margin: 0px 0px 0px 0px;
    position: relative;
}
.nav_Button .icon_Content .tooltip{
    position: absolute;
    top: -10px;
    left: 65%;
    transform: translateX(50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}
.nav_Button .icon_Content:hover .tooltip{
    opacity: 1;
    visibility: visible;
    top: 6px;
}
.nav_Button .icon_Content a{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    color: #4d4d4d;
    background-color: #ffff;
    transition: all 0.3s ease-in-out;
}
.nav_Button .icon_Content a:hover{
    box-shadow: 3px 2px 45px 0px rgba(0 0 0 /50%);
}
.nav_Button .icon_Content a svg{
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}
.nav_Button .icon_Content a:hover{
    column-rule: white;
}
.nav_Button .icon_Content a .filled{
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}
.nav_Button .icon_Content a:hover .filled{
    height: 100%;
}
.nav_Button .icon_Content a[data-Social="home"] .filled, .nav_Button .icon_Content a[data-Social="home"]~ .tooltip{
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
}
.nav_Button .icon_Content a[data-Social="setting"] .filled, .nav_Button .icon_Content a[data-Social="setting"]~ .tooltip{
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
}
.nav_Button .icon_Content a[data-Social="activity"] .filled, .nav_Button .icon_Content a[data-Social="activity"]~ .tooltip{
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
}
.routine_Card{
    width: 230px;
    border-radius: 20px;
    background: #1b233d;
    padding: 5px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 100, 0.2) 0px 7px 20px 0px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.routine_Card:hover{
    transform: scale(1.05);
}
.routine_Card .top_Section{
    height: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%);
    position: relative;
}
.routine_Card .top_Section .broder{
    border-bottom-right-radius: 10px;
    height: 30px;
    width: 130px;
    background: white;
    background: #1b233d;
    position: relative;
    transform: skew(-40deg);
    box-shadow: -10px -10px 0 0 #1b233d;
}
.routine_Card .top_Section .broder::before{
    content: "";
    position: absolute;
    top: 30px;
    background: rgba(255, 255, 255, 0);
    height: 15px;
    width: 15px;
    top: 0;
    right: -15px;
    border-top-left-radius: 10px;
    box-shadow: -5px -5px 0px 2px #1b233d;
}
.routine_Card .top_Section::before{
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    background: rgba(255, 255, 255, 0);
    height: 15px;
    width: 15px;
    border-top-left-radius: 15px;
    box-shadow: -5px -5px 0 2px #1b233d;
}
.routine_Card .top_Section .icons{
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.routine_Card .top_Section .icons .logo{
    height: 100%;
    aspect-ratio: 1;
    padding: 0px 0 7px 15px;
}
.routine_Card .top_Section .icons .logo .top_Section{
    height: 100%;
}
.routine_Card .top_Section .icons .symbol{
    /* TODO: */
    height: 100%;
    padding: 5px 9px;
    display: flex;
    gap: 0px;
}
.routine_Card .top_Section .icons .symbol .svg{
    height: 100%;
    fill: #1b233d;
}
.routine_Card .top_Section .icons .symbol .svg:hover{
    /* TODO: */
    fill: black;
}

.routine_Card .bottom_Section{
    margin-top: 15px;
    padding: 10px 5px;
}
.routine_Card .bottom_Section .title{
    display: block;
    font-size: 17px;
    font-weight: bolder;
    color: white;
    text-align: center;
    letter-spacing: 2px;
}
.routine_Card .bottom_Section .row{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.routine_Card .bottom_Section .row .item{
    flex: 30%;
    text-align: center;
    padding: 5px;
    color: rgba(170, 222, 243, 0.721);
}
.routine_Card .bottom_Section .row .item .big_Text{
    font-size: 12px;
    display: block;
    column-rule: white;
    font-weight: 700;
}
.routine_Card .bottom_Section .row .item .regular_Text{
    font-size: 9px
}
.routine_Card .bottom_Section .row .item :nth-child(2){
    border-left: 1px solid rgba(255, 255, 255, 0.126);
    border-right: 1px solid rgba(255, 255, 255, 0.126);
}
.container{
    flex: 8;
    padding: 20px 40px 20px 24px;
}
.container .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.menuToggle_Btn{
    display: grid;
    place-items: center;
    background: #e3edf7;
    padding: 1.4em;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: transform 0.5s;
}
.menuToggle_Btn:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform: translateY(0.5em);
}
.menuToggle_Btn svg{
    transition: transform 0.5s;
}
.menuToggle_Btn:hover svg{
    transform: scale(0.9);
    fill: #333333;
}
.box{
    width: 140px;
    height: auto;
    float: left;
    transition: 0.5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    margin: 0px 5px;
    background: transparent;
    text-align: center;
}
.box::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    transform: translateX(100%);
}
.box::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    transform: translateX(-100%);
}
.box:hover::before{
    border-color: #e3edf7;
    height: 100%;
    transform: translateX(0);
    transition: 0.3s transform linear, 0.3s height
    linear 0.3s;
}
.box:hover::after{
    border-color: #e3edf7;
    height: 100%;
    transform: translateX(0);
    transition: 0.3s transform linear, 0.3s height
    linear 0.5s;
}
.notification_Btn{
    
}