*{
    margin: 0;
    padding: 0;
}
body{
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    margin: auto auto auto auto;
    max-width: 350px;
    border-radius: 40px;
    padding: 25px 35px;
    color: #fff;
    background-color: transparent;
    box-shadow: rgba(33,33,33, 0.1) 0px 30px 30px -20px, rgba(255, 255, 255, 0.4);
    border: 3px solid white;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
}
.heading{
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: #9372f5;
    background: #000;
    border: 3px solid white;
    padding: 12px 0px 12px 0px;
    border-radius: 15px;
    /*  */
    box-shadow: inset 5px 5px 10px rgb(2, 2, 2), inset -5px -5px 10px rgb(6, 6, 6);
}
.form{
    margin-top: 20px;
}
.form .input{
    width: 88%;
    background: transparent;
    border: 2px solid white;
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: #000 0px 10px 10px -5px;
}
.form .input::-moz-placeholder{
    color: rgb(255, 255, 255);
}
.form .input::placeholder{
    /* color: rgb(255, 255, 255); */
}
.form .input:focus{
    outline: none;
    /* border-inline: 2px solid #12b1b1; */
}
.form .forgot_Password{
    display: block;
    margin-top: 12px;
    margin-left: 0px;   
}
.form .forgot_Password a{
    font-size: 16px;
    color: #9372f5;
    text-decoration: none;
}
.container .submit_Btn{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    cursor: pointer;
    border: none;
    gap: 10px;
    padding: 12px 12px;
    margin: 15px 0px 5px 35%;
    border-radius: 12px;
    width: 32%;
    background-color: #f1f1f1f1;
    outline: 3px #f1f1f1 solid;
    outline-offset: -3px;
}
.container .submit_Btn .text{
    color: #000;
    font-size: 16px;
    font-weight: 540;
    transition: 0.4s;
}
.container .submit_Btn svg path{
    transition: 0.4s;
}
.container .submit_Btn:hover{
    background: transparent;
}
.container .submit_Btn:hover .text{
    color: white;
}
.container .submit_Btn:hover svg path{
    fill: white;
}
.social_Accounts_Container{
    margin-top: 25px;
}
.social_Accounts_Container .title{
    display: block;
    text-align: center;
    font-size: 16px;
    color: #7c59e6;
}
.social_Accounts_Container .social_Accounts{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}
.social_Accounts_Container .social_Accounts .social_Accounts_Google{
    background: linear-gradient(
        45deg,
        rgb(0, 0, 0) 0%,
        rgb(1, 1, 1) 100%
    );
    border: 3px solid white;
    padding: 5px;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    transition: all 0.3s ease-in-out;
}
.social_Accounts_Container .social_Accounts .social_Accounts_Github{
    background: linear-gradient(
        45deg,
        rgb(0, 0, 0) 0%,
        rgb(1, 1, 1) 100%
    );
    border: 3px solid white;
    padding: 5px;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    transition: all 0.3s ease-in-out;
}
.social_Accounts_Container .social_Accounts .social_Accounts_Apple{
    background: linear-gradient(
        45deg,
        rgb(0, 0, 0) 0%,
        rgb(1, 1, 1) 100%
    );
    border: 3px solid white;
    padding: 5px;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    transition: all 0.3s ease-in-out;
}
.social_Accounts_Container .social_Accounts .social_Accounts_Google .svg{
    fill: white;
    margin: auto;
}
.social_Accounts_Container .social_Accounts .social_Accounts_Github .svg{
    fill: white;
    margin: auto;
}
.social_Accounts_Container .social_Accounts .social_Accounts_Apple .svg{
    fill: white;
    margin: auto;
}
.social_Accounts_Container .social_Accounts .social_Accounts_Google:hover{
    transform: scale(1.2);
}
.social_Accounts_Container .social_Accounts .social_Accounts_Github:hover{
    transform: scale(1.2);
}
.social_Accounts_Container .social_Accounts .social_Accounts_Apple:hover{
    transform: scale(1.2);
}
.social_Accounts_Container .social_Accounts .social_Accounts_Google:active{
    transform: scale(0.9);
}
.social_Accounts_Container .social_Accounts .social_Accounts_Github:active{
    transform: scale(0.9);
}
.social_Accounts_Container .social_Accounts .social_Accounts_Apple:active{
    transform: scale(0.9);
}
.agreement{
    display: block;
    text-align: center;
    margin-top: 20px;
}
.agreement a{
    text-decoration: none;
    color: #7c59e6;
    font-size: 14px;
}
